flows (9).json
[
    {
        "id": "825660ad97555fc2",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "181222fe4edcc807",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/+/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "69650d409ba00a4a",
                "995f87288906d15e"
            ]
        ]
    },
    {
        "id": "1b7bb6d14ec1fee1",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncederTempBajo",
        "topic": "micasa/bajo/temperatura/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "69650d409ba00a4a",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "TempCasa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "1e5cab21979826e9",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/dormitorio/+/temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "03df922be3398d93",
                "995f87288906d15e",
                "d3390805019a2a55"
            ]
        ]
    },
    {
        "id": "1e5bd5188b67e43c",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderTempBed1",
        "topic": "micasa/dormitorio/1/temperatura/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "03df922be3398d93",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "TempBeds",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "557c4bcb243f048b",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "55c2768dd39c2262",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderTempBed2",
        "topic": "micasa/dormitorio/2/temperatura/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "d6e71c6de6a83546",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderTempBed3",
        "topic": "micasa/dormitorio/3/temperatura/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "cd37d30b7632f41f",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "TempEncender",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "995f87288906d15e",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "ActivateRadiadores",
        "func": "var payload = msg.payload;\n\nconsole.log(\"PAYLOAD: \"+payload)\nif (payload <19)\n{\n    msg = {\n        \"_msgid\": \"12345\",\n        \"payload\": true\n    }\n}else if (payload <23){\n    msg = {\n        \"_msgid\": \"12346\",\n        \"payload\": false\n    }\n} \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "d6e71c6de6a83546",
                "cd37d30b7632f41f",
                "1b7bb6d14ec1fee1",
                "1e5bd5188b67e43c",
                "55c2768dd39c2262"
            ]
        ]
    },
    {
        "id": "d3390805019a2a55",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "DesactivateRadiadores",
        "func": "var payload = msg.payload;\nif (payload > 22)\n{\n    msg = {\n        \"_msgid\": \"12345\",\n        \"payload\": true\n    }\n} \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "ad8da460679bd871",
                "7aa6e1f1faf3d1a1",
                "6928ed8cd01ec98a",
                "af68036dfc1242a5",
                "03fe1cfebd59dc02"
            ]
        ]
    },
    {
        "id": "ad8da460679bd871",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarTempBajo",
        "topic": "micasa/bajo/temperatura/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "7aa6e1f1faf3d1a1",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarTempBed1",
        "topic": "micasa/dormitorio/1/temperatura/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "6928ed8cd01ec98a",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarTempBed2",
        "topic": "micasa/dormitorio/2/temperatura/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "03fe1cfebd59dc02",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarTempBed3",
        "topic": "micasa/dormitorio/3/temperatura/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "af68036dfc1242a5",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "TempApagar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "14c1d5d9def390fa",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/pasillo/1/movimiento",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "c38cef1490b280f4",
                "a275622a87ac8cc0",
                "d26944132d85eebd"
            ]
        ]
    },
    {
        "id": "134c6e4f85c0c7f9",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/banio/1/movimiento",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "c38cef1490b280f4",
                "a275622a87ac8cc0",
                "d26944132d85eebd"
            ]
        ]
    },
    {
        "id": "fb71ded9291779ea",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/pasillo/2/movimiento",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 920,
        "wires": [
            [
                "c38cef1490b280f4",
                "a275622a87ac8cc0",
                "d26944132d85eebd"
            ]
        ]
    },
    {
        "id": "1f2dd8db6a2ff634",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/banio/2/movimiento",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "c38cef1490b280f4",
                "a275622a87ac8cc0",
                "d26944132d85eebd"
            ]
        ]
    },
    {
        "id": "a84bbf86bebfb5ba",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderLuzPasillo1",
        "topic": "micasa/pasillo/1/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "1617f4796d145c74",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderLuzBanio1",
        "topic": "micasa/banio/1/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 840,
        "y": 960,
        "wires": []
    },
    {
        "id": "522d6c42d6c44d19",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderLuzBanio2",
        "topic": "micasa/banio/2/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b0309d236d94a00e",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarLuzPasillo1",
        "topic": "micasa/pasillo/1/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "12468e28702b6635",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarLuzPasillo2",
        "topic": "micasa/pasillo/2/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "74d52b95ea549ea4",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarLuzBanio1",
        "topic": "micasa/banio/1/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 830,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0c8b0ea7ac5531ba",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarLuzBanio2",
        "topic": "micasa/banio/2/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 830,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6792f498fdaf6ac0",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderLuzPasillo2",
        "topic": "micasa/pasillo/2/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 840,
        "y": 880,
        "wires": []
    },
    {
        "id": "c38cef1490b280f4",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "Input_iluminacion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 920,
        "wires": []
    },
    {
        "id": "a275622a87ac8cc0",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "ActivateLuz",
        "func": "var payload = msg.payload;\nreturn  msg = {\n        \"payload\": payload\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 960,
        "wires": [
            [
                "6792f498fdaf6ac0",
                "1617f4796d145c74",
                "522d6c42d6c44d19",
                "60dffb744877b99d"
            ]
        ]
    },
    {
        "id": "d26944132d85eebd",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "desactivateLuz",
        "func": "var payload = msg.payload;\nif(payload){\n    return msg = {\n        \"payload\":false\n    }\n}else{\n    return msg = {\n        \"payload\":true\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "12468e28702b6635",
                "74d52b95ea549ea4",
                "0c8b0ea7ac5531ba",
                "60dffb744877b99d"
            ]
        ]
    },
    {
        "id": "60dffb744877b99d",
        "type": "debug",
        "z": "825660ad97555fc2",
        "name": "on/off luz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1060,
        "wires": []
    },
    {
        "id": "de8666c445b494f0",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/jardin/1/humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "fbdad0099ee2b544",
                "300ad0c4b33bbd19"
            ]
        ]
    },
    {
        "id": "7989de861ababa3b",
        "type": "mqtt in",
        "z": "825660ad97555fc2",
        "name": "",
        "topic": "micasa/jardin/2/humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f91d39317a4a3c8c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "f3540c8e2711beeb",
                "638062a0a41279b5"
            ]
        ]
    },
    {
        "id": "fbdad0099ee2b544",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "on_off_riego",
        "func": "var payload = msg.payload;\nif(payload<100){\n    return msg = {\n        \"payload\": true\n    }\n}else{\n    return msg = {\n        \"payload\": false\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1180,
        "wires": [
            [
                "9facd72237c8981a"
            ]
        ]
    },
    {
        "id": "a87280519dee6e56",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderRiego2",
        "topic": "micasa/jardin/2/humedad/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 750,
        "y": 1300,
        "wires": []
    },
    {
        "id": "9facd72237c8981a",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "EncenderRiego1",
        "topic": "micasa/jardin/1/humedad/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 750,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f3540c8e2711beeb",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "on_off_riego",
        "func": "var payload = msg.payload;\nif (payload < 100) {\n    return msg = {\n        \"payload\": true\n    }\n} else {\n    return msg = {\n        \"payload\": false\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "a87280519dee6e56"
            ]
        ]
    },
    {
        "id": "300ad0c4b33bbd19",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "desactivateRiego",
        "func": "var payload = msg.payload;\nif (payload >100) {\n    return msg = {\n        \"payload\": true\n    }\n} else {\n    return msg = {\n        \"payload\": false\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "d77773b48725260e"
            ]
        ]
    },
    {
        "id": "638062a0a41279b5",
        "type": "function",
        "z": "825660ad97555fc2",
        "name": "desactivateRiego",
        "func": "var payload = msg.payload;\nif (payload > 100) {\n    return msg = {\n        \"payload\": true\n    }\n} else {\n    return msg = {\n        \"payload\": false\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "1d240e69e2a88f01"
            ]
        ]
    },
    {
        "id": "d77773b48725260e",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarRiego1",
        "topic": "micasa/jardin/1/humedad/apagar",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 740,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1d240e69e2a88f01",
        "type": "mqtt out",
        "z": "825660ad97555fc2",
        "name": "ApagarRiego2",
        "topic": "micasa/jardin/2/humedad/encender",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f91d39317a4a3c8c",
        "x": 740,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f91d39317a4a3c8c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]